<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MelaMarket</title>
</head>

<body>
    {% extends "template.html" %}
    {% block content %}

    <div class="hero">
        <img src="static\images\friendshavefun.webp" alt="Smiling friends" />
        <div class="overlay">
            <div class="text-container">
                <h1 class="header-text">Create. Buy. Share.</h1>
                <p class="header-text">Buy from & connect with people who share your values and style</p>
                <p class="header-text">Support BIPOC creators</p>
                <button type="button" class="header-button">Sign up</button>
            </div>
        </div>

    </div>

    {% endblock %}
</body>

</html>