{% extends "base.html" %} {% block title %} Your Feed {% endblock%}
{% block content %} 
<form method="POST"> 
    <h3>align="center">Your Posts</h3>
    <div class=" form-group">
        <label for="buy">Buy (Confirm)</label>>
        <label for="sell">Buy</Sell>>
    </div>
    <br />
    <button type="submit" class="btn btn-priamry">Buy</button></button> 
    <button type="submit" class="btn btn-priamry">Connect</button></button>
</form>
    <h1>Get inspired by personalized recommendations from friends, people you follow, and more</h1>
{{text}}
{{text1}}
{% endblock %}